* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 6rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block-start: 5rem;
}

.item {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 1rem;
    border: 1px solid black;
}

.item-1{ background: linear-gradient(45deg ,#2a8a53 50%, #670758 50% 100%);}
.item-2{ background: linear-gradient(45deg, #474470 50%, #c09e41 50% 100%);}
.item-3{ background: linear-gradient(45deg, #00001e 50%, #b05b09 50% 100%);}
.item-4{ background: linear-gradient(45deg, #04035c 50%, #38b4da 50% 100%);}