@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-1: #e56399;
  --color-2: #e5d4c3;
  --color-3: #de644b;
  --color-4: #7fd1b9;
  --color-5: #7a6563;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Quantico', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 4.5625rem;
}

.container {
  background-color: var(--color-1);
  border: 2px solid var(--color-4);
  color: var(--color5);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 19.0625rem;
  gap: 2rem;
  margin: 4rem;
  padding: 2rem;
  border-radius: 0.3rem;
}

.submitButton {
  background-color: var(--color-4);
  width: 15rem;
  height: 3rem;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid #e3b5a4;
  border-radius: 0.3rem;
}

.submitButton:active {
  transform: scale(0.98);
  transition: all 0.1s linear;
}

.formInput {
  border-radius: 0.3rem;
  font-size: 1.5rem;
  font-weight: bold;
  height: 2rem;
  text-align: right;
  background-color: var(--color-2);
  border: 1px solid var(--color-5);
  outline: none;
  color: var(--color-3);
  margin-block-end: 1rem;
  padding: 0.25rem;
}

.formInput:focus {
  border: 2px solid var(--color-1);
}

#result {
  font-size: 3rem;
  font-weight: bold;
}
