@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Quantico', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 4.5625rem;
}

.container {
  background-color: #acf39d;
  color: #773344;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19.0625rem;
  gap: 2rem;
  margin: 4rem;
  padding: 2rem;
  border-radius: 0.3rem;
}

.doublebutton {
  background-color: #e85f5c;
  width: 10rem;
  height: 3rem;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid #e3b5a4;
  border-radius: 0.3rem;
}

#formInput {
  border-radius: 0.3rem;
  font-size: 1.5rem;
  font-weight: bold;
  height: 2rem;
  text-align: right;
  background-color: #e3b5a4;
  border: 1px solid #773344;
  outline: none;
  color: #773344;
}

#formInput:focus {
  border: 1px solid #773344;
}

#result {
  font-size: 3rem;
  font-weight: bold;
}
